a:hover{
   text-decoration: none;
}
footer {
   background-color: black;
   height: auto;
}
footer > a {
   color: blue;
}
.copy {
   font-size: 100%;
   color: blue;
}
.com {
   float: right;
   padding-right: 5vw;
}
.com::after {
   content: "";
   clear: both;
}
.com > a {
   margin-left: 0.5em;
   font-size: 60px;
}
.nieznika {
   position: fixed;
   top: 0;
   left: 0;
   background-color: black;
   width: 100%;
   height: 8em;
}